
/* -- General --**/
body {
  background-color: #5B6EA6;
}

h2 {
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

h3 {
  color: #C9F2D7;
  font-family: 'Comfortaa', cursive;
}

.contenedor-form {
  margin-top: 150px;
}

.contenedor-posts {
  margin-top: 100px;
  max-width: 800px;
}


/* -- NavBar --**/
.nav-style {
  background-color: #C9F2D7;
}

.brand {
  font-size: 25px;
  color: #5B6EA6;
  font-family: 'Comfortaa', cursive;
}

.font-brand {
  font-family: 'Comfortaa', cursive;
}

.nav-links {
  color: #201C8C;
}


/** -- Formularios --**/

.form-style {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  background-color: #32378C;
}

label {
  color: white;
  font-weight: bold;
}

.form-error {
  border-radius: 3px;
  color: #fff;
  background: rgba(236, 119, 119);
}

/** -- Posts --**/

.contenedor-btn-post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 512px) { 
  .contenedor-btn-post {
    justify-content: flex-end;
  }
}

.card-style {
  background-color: #32378C;
  color: #fff;
}

.card-text-title {
  font-family: 'Montserrat', sans-serif;
}

.card-text {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/** -- Botones --**/

.btn-bglogin {
  background-color: #C9F2D7;
  color: #201C8C;
  font-weight: bold;
  transition: all .5s ease;
}

.btn-bglogin:hover {
  background-color: #201C8C;
  color: #C9F2D7;
}